/* Test cache */

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
	color: #7C7B7A;
	overflow-x: hidden;
}

#preload-images {
	background: url('../img/btn_back@x2.png') no-repeat -9999px -9999px,
		    	url('../img/btn_home@x2.png') no-repeat -9999px -9999px,
		    	url('../img/etoiles.png') no-repeat -9999px -9999px,
		    	url('../img/btn_vert@x2') no-repeat -9999px -9999px;
	display: none;
}

.center {
	margin: 0 auto;
	text-align: center;
}

#accueil header .logo {
	margin: 0 auto!important;
	padding-top: 7px;
	background: none!important;
}

#accueil section {
	background: url(../img/home_filigrane.png) no-repeat center top;
	background-size: cover; 
}
#accueil .ui-content .ui-listview-inset {
	margin: 0 0 1em 0;
}

#accueil footer {
	font-size:0.7em;
	padding-bottom: 10px;
	text-align:center;
	margin-top: 2em;
}

.titre {
	margin: 0 auto!important;
	font-family: LeagueGothicRegular;
	font-weight: normal;
	font-size: 28px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: white;
	text-shadow: 0 1px 0 #2F3E46;
	position: relative;
	text-align: center;
	padding-top: 8px;
}

.meta {
	display: table;
	width:100%;
}
.meta_note {
	width: 100px;
	height: 20px;
	background: url(../img/etoiles.png) repeat-x;
	display:table-cell;
}
.carbet_note_globale {
	background: url(../img/etoiles.png) center left repeat-x;
	height: 100%;
	z-index: 1;
}

.meta_prix {
	display:table-cell;
	vertical-align:middle;
	font-size:0.7em;
	font-style: italic;
	text-align: right;
}

.carbet_nbre_avis {
	display: table-cell;
	vertical-align: top;
	font-size: 1em;
	font-style: italic;
	text-align: right;
	width: 140px;
	padding-top: 2px;
	white-space: nowrap;
}
.meta_resume_carbet {
	padding: 0 10px;
}

section img {
 	max-width: 100%;
 	height: auto;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #EBEBEB;
}

section img.alignright {
	float: right;
	padding: 0 0 14px 14px;
}

section img.alignleft {
	float: left;
	padding: 0 14px 14px 0px;
}

section img.noborder, .description_detaillee img.noborder, #map_canvas img {
	border: none!important;
}

section img.noroundercorner, .description_detaillee img.noroundercorner {
	border-radius: 0!important;
}

section img.cryptxImage {
	border: none;
	border-radius: 0;
	margin-bottom: -4px;
}

section .wp-caption-text {
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.2em;
	margin: 0px;
	padding: 4px;
}

section .aligncenter{
	display: block!important;
	margin-left: auto;
	margin-right: auto;
}

section blockquote {
	margin: 1.5em;
	padding: 0 1em 0 1em;
	color: #666;
	background: #E6E6E6;
	font-style: italic;
	border: 1px solid gainsboro;
}

section .bloc_texte {
	color: #333;
	text-shadow: 0 1px 0 white;
	background: none repeat scroll 0 0 #FBFAF7;
	background-color: rgba(251, 250, 247, .6);
	padding: 14px 10px;
	border: 1px dashed #9E9576;

}

section h1 { font-size: 1.8em; }
section h2 { font-size: 1.6em; }
section h3 { font-size: 1.4em; }
section h4 { font-size: 1.2em; }
section h5 { font-size: 1.1em; }

#actu_date {
	padding-bottom: 14px;
	font-style: italic;
}

section .ui-grid-a+.bloc_texte {
	margin-top: 12px;
}
.picto_service {
	padding: 10px 8px 10px 0;
}
.picto_service img {
	width:auto;
	border-radius: 0;
}

.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; }
.gallery li img { display: block; width: 100%; height: auto; }
#galerie-adng .ui-content { overflow: hidden; }

h1 {
	font-family: LeagueGothicRegular;
	text-shadow: 0 -1px 1px #FFF;
	font-size: 1.8em!important;
	font-weight: normal;
	margin: 0 0 0.4em 0!important;
}

#accueil li a {
	padding-left: 15px;
}

img#carbet_album_solo {
	width: 100%;
}

#carbet-liste .ui-grid-a .ui-block-a, #carbet-liste .ui-grid-a .ui-block-b,
#carbet-carte .ui-grid-a .ui-block-a, #carbet-carte .ui-grid-a .ui-block-b {
	width: 50%;
}

#carbet-liste form {
	background: none;
	background: hsla(81, 15%, 45%, 0.5);
}

.nav_carbets .ui-btn-up-c, .nav_carbets .ui-btn-hover-c {

}

#map_canvas .erreur{
	color: #333;
	text-shadow: 0 1px 0 white;
	background: none repeat scroll 0 0 #fbe2db;
	padding: 14px 10px;
	border: 1px dashed #9E9576;
	margin:15px;
}

#map_canvas .notice{
	color: #333;
	text-shadow: 0 1px 0 white;
	background: none repeat scroll 0 0 #e6fbd1;
	padding: 14px 10px;
	border: 1px dashed #9E9576;
	margin:15px;
}

#pagination { 
	display: none;
	margin-bottom: 0px; 
	width:320px;
	height:125px;  
	background:url("../img/map_footer.png") no-repeat bottom center;
	z-index: 9999!important;
}

#pagination .display { 
	width: 256px;
	text-align: center;
}

#pagination .nom {
	font-family: LeagueGothicRegular;
	font-size: 1.6em;
	font-weight: normal;
	text-shadow: 0 -1px 1px white;
	margin: 20px 0 4px 0; 
	white-space: nowrap;
	text-overflow: ellipsis;
}

#pagination .btn { 
	cursor:pointer; 
	width:32px; 
	height:32px;  
	margin-top: 20px;
}
#pagination .back-btn { background:url("../img/arrow_left@x2.png") no-repeat; background-size: cover;}
#pagination .fwd-btn { background:url("../img/arrow_right@x2.png") no-repeat ; background-size: cover;}

#pagination a, #pagination a:hover, #pagination a:visited {
	text-decoration: none;
	color: #333333;
}

#pagination .meta {
	display: table;
	margin: 0 auto;
	width: 60%;
}

#pagination .meta_note {
	display: block;	
}

#pagination .meta_commune {
	font-style: italic;
	margin-top: 8px;
}

#pagination .carbet_nbre_avis, #pagination .meta_commune {
	font-weight: normal;
} 
.lt {
float: left;
}

.rt {
float: right;
}

.alignright {
	margin: 0 auto;
}

.caption {
	font-style: italic;
	text-align: center;
	margin-top: -0.3em;
	font-size: 0.7em;
	color: #7b7b7b;
}

#carbet_btn_album .ui-btn-text, #carbet_btn_tel1 .ui-btn-text {
	margin-left: 35px;
}

header {
	-webkit-appearance: none!important;
	-webkit-box-shadow: 1px 1px 10px 1px #333!important;
	-moz-box-shadow: 1px 1px 10px 1px #333!important;
	box-shadow: 1px 1px 10px 1px #333!important;
}

/**************************
Surcharge CSS JQuery
***************************/
.ui-page {
	background: url(../img/all_background.jpg) repeat scroll left top #EEE6D6;
}

.ui-header.ui-bar-a {
	background: url(../img/all_header.jpg) repeat-x scroll left bottom #97b32a;
	border: none;
	height: 50px
}
.ui-header.ui-bar-a .logo {
	width: 265px;
	height: 40px;
	background: url(../img/logo_large.png) no-repeat;
	background-size: cover; 
	position: relative;
	margin-top:2px;
	margin-left: auto;
	margin-right: auto;
}

h1.ui-title {
	margin: 10px 0 0.4em 0!important;
}

.ui-focus {
	-moz-box-shadow: 0px 0px 12px #7ca61f /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #7ca61f /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #7ca61f /*{global-active-background-color}*/;
}


.ui-btn-active{
	background-color:#8ba81a!important;
	background-color: rgba(139, 168, 26, .8)!important;	
	color:#FFF!important;
	background-image:none;
}

.ui-btn-active a.ui-link-inherit{color:#FFF}


.ui-radio-on .ui-icon {
	background-color: #7ca61f /*{global-active-background-color}*/; }
.ui-bar-b {
	border: 1px solid #97b32a;
	background: #7ca61f;
	color: white;
	font-weight: bold;
	text-shadow: 0 -1px 1px #254F7A;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#7ca61f),to(#97b32a));
	background-image: -webkit-linear-gradient(#7ca61f,#97b32a);
	background-image: -moz-linear-gradient(#7ca61f,#97b32a);
	background-image: -ms-linear-gradient(#7ca61f,#97b32a);
	background-image: -o-linear-gradient(#7ca61f,#97b32a);
	background-image: linear-gradient(#7ca61f,#97b32a);
}
.ui-body-c .ui-link:visited {
	color: #7d9625;
}
.ui-body-c .ui-link {
	color: #7ca61f;
	font-weight: bold;
}
.ui-li-thumb {
	max-height: 92px;
	max-width: 92px;
}
.ui-li-icon {
	width:auto;
}

.ui-li-aside {
	max-width: 33%;
}
.ui-listview-filter .ui-input-search {
	margin: 12px 5px;
}

.ui-header .ui-btn {
	margin: .5em 5px;
}

.ui-btn-up-c, .ui-btn-hover-c {
	background: white;
	color: #333;
}

.ui-li-static {
	font-weight: normal;
	background: white!important;
}

#accueil ul img {
	position: relative;
	max-width: 50px;
	max-height: 50px;
	border-radius: 0;
}

.ui-li-thumb {
	margin-right: 20px;
}

.ec-btn-header .ui-btn-inner {
	padding: 0.8em 8px 0.8em 33px;
}

.ec-btn-header {
	top: 0!important;
}

.ui-icon-bitwip-photo { background-image: url(../img/btn_camera@x2.png); background-size: 24px 18px;}
.ui-icon-bitwip-tel { background-image: url(../img/btn_phone@x2.png);background-size: 24px 24px; }
.ui-icon-bitwip-carte { background-image: url(../img/btn_map@x2.png);background-size: 16px 26px; }

.ui-icon-bitwip-photo, .ui-icon-bitwip-tel, .ui-icon-bitwip-carte {
	background-color: transparent;
	border-radius: 0;
	width: 26px;
	height: 26px;
	margin-top: -13px!important;
	box-shadow: none;
	border: none;
}

#carbetsList .ui-icon-arrow-r {
	box-shadow: none;
}

a[data-icon="bitwip-photo"], a[data-icon="bitwip-tel"], a[data-icon="bitwip-carte"] {
	padding: 0.4em;
}
a[data-icon="bitwip-photo"] .ui-btn-inner, a[data-icon="bitwip-tel"] .ui-btn-inner, a[data-icon="bitwip-carte"] .ui-btn-inner{
	border: none;
}

.list-images .ui-li-has-thumb {
	padding: .7em 15px .7em 15px;
	min-height: 92px;
}

.list-images .ui-li-has-thumb img {
	float: right;
	position: relative;
	border: none;
	margin-left: 20px;
	margin-right: 0;
}

/* Test CSS */

ul.ui-shadow {
	-moz-box-shadow: 	none;
	-webkit-box-shadow: none;
	box-shadow: 		none;
}

ul .ui-btn-up-c, ul .ui-btn-hover-c {
	background: none;
	border:none;
	padding: 0.8em 1em 0em 1em;
}

ul .ui-btn-up-c .li_bottom, ul .ui-btn-hover-c .li_bottom {
	background: url(../img/dashed-line.png) bottom transparent repeat-x;
	height: 2px;
	margin-top: 0.4em;
}

ul .ui-li-heading { 
	margin: 0em 0 0.4em 0;
	font-family: LeagueGothicRegular;
	font-weight: normal;
	font-size: 26px;
}
ul a.ui-link-inherit {padding: .2em 40px .7em 105px;}
ul .meta { margin-top: 1em; }
/* ul .ui-icon-arrow-r { background: none; background-image: url(../img/arrowv2.png); background-repeat: no-repeat; } */
ul .ui-li { border: none; }
ul .ui-corner-top {
	-moz-border-radius-topleft: .3em;
	-webkit-border-top-left-radius: .3em;
	border-top-left-radius: .3em;
	-moz-border-radius-topright: .3em;
	-webkit-border-top-right-radius: .3em;
	border-top-right-radius: .3em;
}
ul .ui-corner-bottom {
	-moz-border-radius-bottomleft: .3em;
	-webkit-border-bottom-left-radius: .3em;
	border-bottom-left-radius: .3em;
	-moz-border-radius-bottomright: .3em;
	-webkit-border-bottom-right-radius: .3em;
	border-bottom-right-radius: .3em;
}

#carbet-liste section form .ui-btn-corner-all { border-radius:0.5em; }

/* ===  Boutons === */
a.ec-btn-back {
	background: transparent url(../img/btn_back@x2.png) 0 0 no-repeat !important;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	border: 0 none !important;
	height: 30px;
	background-size: 500px 60px!important;
	color: #FFF;
	text-shadow: 0 1px 0 black;
}

a.ec-btn-back .ui-btn-inner {
	background: transparent url(../img/btn_back@x2.png) right 0 no-repeat !important;
	margin: 0 0 0 11px;
	padding: 0 8px 0 0 !important;
	height: 30px;
	line-height: 30px;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background-size: 500px 60px!important; 
	border: none;
}

a.ec-btn-back .ui-icon, a.ec-btn-home .ui-icon {
	display: none;
}

a.ec-btn-back.ui-btn-down-c, a.ec-btn-back.ui-btn-active {	
	background-position: left bottom!important;
}
a.ec-btn-back.ui-btn-down-c .ui-btn-inner, a.ec-btn-back.ui-btn-active .ui-btn-inner {	
	background-position: right bottom!important;
}

a.ec-btn-home {
	background: transparent url(../img/btn_home@x2.png) right 0 no-repeat !important;
	height: 30px;
	width: 30px;
	line-height: 30px;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	border: 0 none !important;
	background-size: 30px 60px!important;
}

a.ec-btn-home .ui-btn-inner {
	border-radius: 0 !important;
	border: none;
}

a.ec-btn-home.ui-btn-down-c, a.ec-btn-home.ui-btn-active {	
	background-position: right bottom!important;
}

a[data-role='button'] {	
	background: transparent url(../img/btn_vert@x2.png) 0 0 no-repeat !important;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	border: 0 none !important;
	height: 52px;
	background-size: 600px 105px!important;
	color: #FFF;
	text-shadow: 0 1px 0 black;
	padding: 0;
	max-width: 300px;
	margin: 0 0 1em 5%;
}

a[data-role='button']  .ui-btn-inner {
	background: transparent url(../img/btn_vert@x2.png) right 0 no-repeat !important;
	margin: 0 0 0 11px;
	padding: 0 8px 0 0 !important;
	height: 52px;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	background-size: 600px 105px!important;
	border: none;
	line-height: 52px;
}


a[data-role='button'].ui-btn-down-c, a[data-role='button'].ui-btn-active  {	
	background-position: left bottom!important;
}
a[data-role='button'].ui-btn-down-c .ui-btn-inner, a[data-role='button'].ui-btn-active .ui-btn-inner {	
	background-position: right bottom!important;
}

#actu_refresh {
	margin: 1em auto;
}


a[data-role='button'].disabled {
	/* background: transparent url(../img/btn_gris@x2.png) 0 0 no-repeat !important; */
	pointer-events: none;
    cursor: default;
}

a[data-role='button'].disabled  .ui-btn-inner {
	/* background: transparent url(../img/btn_gris@x2.png) right 0 no-repeat !important; */
}



/**************************
Media Queries
***************************/

@media screen and (max-width: 480px) {
	.ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {
		width: 100%;
	}
	#carbet-detail section .ui-block-a img {
		width: 100%;
	}
	.ui-li-aside, .meta_prix {
		display: none;
	}
	.meta {
		display: block;
	}

	.gallery li { float: left; width: 50%; }
	
	a[data-role='button'] {	
		margin: 0.5em auto;
	}
	
	.titre {
		margin: 0 auto;
		font-size: 24px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding-top: 9px;
	}
}

